@{
    ViewBag.Title = "LY-风尚版";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@*@Html.AppendCssFile("/Content/viewCSS_JS/Home/AdminAccordion/index.css")*@
<link href="~/Content/viewCSS_JS/Home/AdminAccordion/Index.css" rel="stylesheet" />
<div class="ll-frame-menu-btn" id="lr_frame_menu_btn"><i class="fa fa-fw fa-dedent"></i></div>
@*@Html.AppendJsFile("/Content/viewCSS_JS/Home/AdminAccordion/index.js")*@
<script src="~/Content/viewCSS_JS/Home/AdminAccordion/Index.js"></script>
