@{
    ViewBag.Title = "飞扬版风格";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


@*@Html.AppendCssFile("/Content/viewCSS_JS/Home/AdminTop/index.css")*@
<link href="~/Content/viewCSS_JS/Home/AdminTop/Index.css" rel="stylesheet" />
<div class="ll-frame-menu-btn" id="lr_frame_menu_btn"><i class="fa fa-fw fa-dedent"></i></div>
<div class="ll-second-menu-wrap" id="lr_second_menu_wrap"></div>
@*@Html.AppendJsFile("/Content/viewCSS_JS/Home/AdminTop/index.js")*@
<script src="~/Content/viewCSS_JS/Home/AdminTop/Index.js"></script>



